<html lang="en" ng-app="coupleslife" id="ng-app" ng-controller="AppCtrl">
  <meta http-equiv="x-ua-compatible" content="IE=Edge"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta property="og:image" content="http://www.emissarymed.com/assets/landing/map_icon.png"/>
  <meta property="og:title" content="Emissary - Destination Healthcare You Can Trust"/>
  <meta property="og:url" content="http://www.emissarymed.com/"/>
  <meta property="og:description" content="Whether you're traveling for access to a specific surgeon, or traveling to afford the treatment you need, we make sure you get the highest quality care, and a smooth, enjoyable experience."/>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Emissary - Destination Healthcare You Can Trust">
  <meta name="twitter:description" content="Whether you are traveling for access to a specific surgeon, or traveling to afford the treatment you need, we make sure you get the highest quality care, and a smooth, enjoyable experience.">
  <meta name="twitter:image:src" content="http://www.emissarymed.com/assets/hero_background.jpg">
  <meta name="twitter:site" content="@emissarymed">
  <meta name="fragment" content="!" />
  <head>
    <link rel="shortcut icon" href="assets/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="<%= grunt.config.get('pkg.name') %>.css?version=<%= grunt.config.get('version') %>"/>
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,600italic' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="<%= grunt.config.get('pkg.name') %>.js?version=<%= grunt.config.get('version') %>"></script>
    <title ng-bind="title">Emissary</title>
  </head>
  <body scroll-spy=""  data-target="#vNav" data-scroll-offset="100">
    <div ui-view autoscroll="true" class="container-fluid"></div>
  </body>
  <script type="text/javascript" src="https://js.balancedpayments.com/v1/balanced.js"></script>
<!--Start of Zopim Live Chat Script-->
  <script type="text/javascript">
  </script>
  <!--End of Zopim Live Chat Script-->

</html>
